

body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
/*header*/
nav{
    text-align: center;
}

.custom_header_menu {
    background-image: url("Gaming_5000x3125.jpg");
    margin: 0px;
    padding: 30px 50px;
}

.menu_items a:hover{
    color: red;
    transition: .5s;
}
.menu_items {

    list-style: none;
    display: inline-block;
}

.menu_items a {
    color: gray;
    text-decoration: none;
    padding: 50px;
}

.custom_header_text{
    color: black;
    text-align: center;
    margin-left: 500px;
    padding: 50px 100px;
    font-size: 50px;
}
.custom_header_p{
    color: black;
    text-align: center;
    font-size: 20px;
}

/*main*/

.back_ground{
    background-image: url(Virtual_Youtuber_Inugami_Korone_anime_anime_girls_animal_ears_collar_white_background_Hololive-1863599.jpg);
    padding: 50px 30px;
    background-position: center;
    width: 1300px;
    height: 1300px;
    background-size: cover;
    background-repeat: no-repeat;
}


main{
    padding: 100px 150px;
    height: 100vh;
}

/* About Me */

.section_about_me{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 500px 500px;
}

.section_about_me_desc{
    color: grey;
    margin-left: 20px;
}

.section_about_me_img {
    background-image: url("E8j-BRrWUAITTIJ.jpeg");
    background-position: center;
    background-size: cover;
    height: 500px;
}
.custom_about_me{
    margin-top: 850px;
}

.header_about_me{
    color:grey;
    margin-left: 500px;
}

.about_me_p {
    color:grey;
    margin-left: 50px;
    font-size: 20px;
}

/* Contact Me */

.header_contact_me{
    color: gray;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.section_contact_me_form{
    display: grid;
    height: 350px;
    margin-left: 500px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 500px;
    grid-template-rows: 40px 40px 80px 50px;
    grid-gap: 20px;
}

.section_contact_input{
    width: 100%;
    height: 100%
}